
.custom {

  background-color: whitesmoke;
}
.search-input {

  border-radius: 20px;
  border: 1px solid;
}
.active-button {
  
  border-radius: 15px;
  width: 40%;
  color: black;
  padding: 0.6rem!important;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.active {

  color: #fff;
  background: linear-gradient(180deg,#240458 0,rgb(39 0 101));
}

.inactive-button {
  margin-left: 10px;
  border-radius: 15px;
  width: 40%;
  color: black;
  padding: 0.6rem!important;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.add-new-client {

  color: #fff;
  float: right;
  width: 50%;
  border-radius: 19px;
  background: linear-gradient(180deg,#240458 0,rgb(39 0 101));
}

.client-table {
  margin-top: 15px !important;
}
.table-heading {
  background-color: #d2e9f575;
}

.ellipsis {
  margin-left: 30px;
  margin-top: 10px;
  font-size: 20px;
}
.pagination {
    float: right;
}

.previous {
  margin-right: 15px;
  font-size: 20px;
  margin-top: -9px;
  background-color: white;
}

.next {
  font-size: 20px;
  margin-top: -9px;
  background-color: white;
}

.pagination span {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  /* Style the active/current link */
  .pagination span.active {
    background: linear-gradient(180deg,#341c5b 0,rgba(52,28,91,.7));
    color: white;
    border-radius: 39%;
    padding: 9px 11px 9px 11px;
  }

  .dataTables_filter { display: none !important; 
  color: red;}
  #DataTables_Table_0_filter {
    display: none !important;
  }

.dropdown-menu:after, .dropdown-menu:before {
    left: 5px !important;
}
i.fa.fa-ellipsis-v.ellipsis {
    margin: 0px !important;
    padding: 0px;
    color: #000000;
}
button.btn.btn-primary.dropdown-toggle {
    border: none;
    padding: 0px;
    background: none !important;
}

a.dropdown-item {
    display: block;
    padding-left: 7px;
}
button.dropdown-item {
    padding-left: 7px;
}
.dropdown_act_icon {
  display: flex;
  margin-top: -10px;
}
.dropdown-menu_dots {
  display: flex;
}
button.btn.btn-primary.dropdown-toggle {
  margin-bottom: 6px;
}

button.dropdown-item.btn.btn-danger {
  padding: 0;
}
button.dropdown-item.btn.btn-info {
  padding: 0px;
}
button.dropdown-item.btn.btn-info[_ngcontent-jcn-c118] {
  padding: 0px;
  margin-right: 8px;
}
button.dropdown-item.btn.btn-info {
  margin-right: 9px;
}
td.activetab {
  padding-left: 12px !important;
}
