.main-content {
    background-color: #ebe8fb;
}

.custom {

    background-color: #ebe8fb;
}

.custom-table {

    margin-top: 30px;
}

.div-content {
    background-color: white;
}

.date-picker {
    width: 250px;
    float: right;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    border: 1px solid;
    height: 49px;
    border-radius: 25px;
    background: white;
    margin-bottom: 20px;
}

thead  {
    background-color: #2e2275;
}

th {
    color: white !important;
    border: 1px solid #b0a8a8 !important;
}

td {
    border: 1px solid #b0a8a8 !important;
}