form {
  margin-top: 40px;
}

.alert {
    /* position: relative; */
    margin-top: 4px;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-danger {
    position: unset !important;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.submit-button {
    background-color: #473368 !important;
    color: #fff;
    padding: 6px 45px;
    margin-bottom: 23px !important;
}

.custom {
    box-shadow: 0 0 4px 0px;
    border-radius: 15px;
}

.form-control {
    border: 1px solid #0000007a !important;
}

.modal-dialog{
    width: 30% !important;
  }
  .message-model {
    /* /position: relative; */
    top: 20% !important;
  }
  
  .right-icon {
  
    position: absolute;
    border: 1px solid black;
    height: 50px;
    width: 50px;
    margin-left: 43%;
    top: -26px;
    font-size: 22px;
    padding: 2.5%;
    border-radius: 50%;
    background-color: #6cd038;
  }
  
  
  .rights {
    margin-left: 0.5rem;
    color: white;
  }
  
  .mod-header {
  
    border-bottom: none !important;
  }
  .mod-footer {
  
    border-bottom: none !important;
  }
  
  .confirm-div {
    margin-top: 40px !important;
  }
  
  .confirm {
    padding-right: 35px;
    padding-left: 35px;
    background-color: #20b61a;
    color: white;
  }
  
  .mod-conetnt{
  
    text-align: center;
    font-size: 2rem;
    margin-top: 10px !important;
  }

h4 {
    font-size: 23px;
    line-height: 30px;
    color: #4b3d6a;
    padding-bottom: 16px;
}

.my-row {
    margin-bottom: 20px;
}