.main-content {
    background-color: #ebe8fb;
}

.custom {

    background-color: #ebe8fb;
}

.custom-table {

    margin-top: 30px;
}

.heading {
    margin-top: 20px;
    color: black;
    font-weight: bold;
}

.performance {
    float: right;
    border-radius: 20px;
    color: white;
    background: linear-gradient(180deg,#240458 0,rgb(39 0 101));
}

th {

    color: black !important;
}

.rounded-checkbox {
    width:20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid black;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
  }
  .rounded-checkbox:checked {
    appearance: auto;
    clip-path: circle(50% at 50% 50%);
    background-color: blue;
  }